## Classification Task
### Library and dataset Imports

In [24]:
#imports pandas and numpy
import pandas as pd
import numpy as np
dt = pd.read_csv('wine.csv')

In [25]:
#Displays top 5 columns of the table
dt.head()

,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline,Wine
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

### Exploring data

In [26]:
print(dt['Wine'].unique()) #Displays the unique classes

[1 2 3]

In [27]:
x = dt.iloc[ : , :13] #Splitting Columns into x and y
y = dt.iloc[ : , 13]

In [28]:
x.shape #Shape of x (group of columns)

(178, 13)

In [30]:
x #displays x (group of columns)

,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [31]:
y.shape #Shape of y

(178,)

In [33]:
y #Displays y, its length and data type

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: Wine, Length: 178, dtype: int64

In [34]:
#importing train_test_split
from sklearn.model_selection import train_test_split 

#implementing train_test_split and defining size of data used to train the model
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.5)

### Implementing Logistic Regression

In [35]:
#importing Logistic Regression from Sklearn
from sklearn.linear_model import LogisticRegression

#implementing Logistic Regression
model = LogisticRegression()

In [36]:
#Defining Classifier
#Setting max not of iterations to 100000 and solver to 'ibfgs'
classifier = LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100000, multi_class='multinomial', n_jobs=1,
          penalty='l2', random_state=None, solver='lbfgs', tol=0.0001,
          verbose=0, warm_start=False)

In [39]:
#implementing classifier 
classifier.fit(x_train, y_train)

LogisticRegression(max_iter=100000, multi_class='multinomial', n_jobs=1)

In [40]:
#Assigning prediction value to y_pred
y_pred = classifier.predict(x_test)

In [41]:
#importing Confusion Matrix
from sklearn.metrics import confusion_matrix

#Confusion matrix between test value and predicted value
confusion_matrix(y_test, y_pred)

array([[28,  0,  0],
       [ 2, 31,  1],
       [ 0,  0, 27]], dtype=int64)

In [52]:
#printing into respective columns
print (pd.DataFrame(confusion_matrix(y_test, y_pred), columns=['Wine 1','Wine 2','Wine 3']))

   Wine 1  Wine 2  Wine 3
0      28       0       0
1       2      31       1
2       0       0      27

### Report and Accuracy

In [46]:
#importing classification report from Sklearn
from sklearn.metrics import classification_report

#Printing Classification Report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.93      1.00      0.97        28
           2       1.00      0.91      0.95        34
           3       0.96      1.00      0.98        27

    accuracy                           0.97        89
   macro avg       0.97      0.97      0.97        89
weighted avg       0.97      0.97      0.97        89

In [49]:
classifier.score(x_test,y_test)

0.9662921348314607